make :

-give bounciness to ball and bumpers
-plane that indicates if ball is inside pachinko
-force varying, linked to UI perhaps
-other balls in a box or bowl, counting them
-gameover if no ball in the game anymore
-jackpot gives 15 balls